@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="row about1">
    <h3>Welcome To Our Village</h3>
</div><br />
<div class="row about">
    <div class="col-md-3 imgabout">
        <img src="../Content/Image/about1.png" height="200" width="250"/>
    </div>
    <div class="col-md-9">
  <p class="text">Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distributor/Retailer where they can do Recharge Mobile, DTh, Data card or bill payments of their customers for all Postpaid/ Prepaid Mobile, DTH, Datacard, and Bill Payment Demontly For All Major Operators
      Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
  </p> 
        </div></div> <br />
    <div class="row">
       <div class="col-md-9">
 <p class="text">Bharat Bill Payment System (BBPS) is an online bill
     Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
     Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Payment System.Bill payment is a facility provided to the customer to make their utility payments online through digital banking. The customer has different utility payments like Electricity Bill payment, Mobile bill payments, Water bill payments, insurance payments, etc.</p>
</div>
        <div class="col-md-3 imgabout">
        <img src="../Content/Image/about2.png" height="200" width="300"/>
        </div>
</div>
<div class="row about">
    <div class="col-md-3 imgabout">
        <img src="../Content/Image/about3.png" height="200" width="250"/>
    </div>
    <div class="col-md-9">
  <p class="text">Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distributor/Retailer where they can do Recharge Mobile, DTh, Data card or bill payments of their customers for all Postpaid/ Prepaid Mobile, DTH, Datacard, and Bill Payment Demontly For All Major Operators
      Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
  </p> 
        </div></div>
