@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="row">
    <div class="col-md-3 header"></div>
    <div class="col-md-6 img ">
        <div class="row bg-warning btn btn-warning form-control">Contact For Any Query!</div>
        <form action="#" method="post" >
       
         Registration Number
        <input type="Number" class="form-control" name="RegNumber"/>
            Mobile Number
        <input type="number" class="form-control" name="Mob"/>
              Address
        <textarea class="form-control" name="Address"></textarea>
            Query
            <textarea class="form-control" name="Address"></textarea>
        <input type="checkbox"  name=""/> Accept<a href="#">Term And Condition</a>
        <button class="form-control btn btn-success">Contact Us</button><br /><br />
        <a href="/Home/Login" class="btn btn-warning form-control">Login First</a><br />
            Contact With Call
          <i class="fa fa-phone text-danger">9565945570</i>
             Contact With Twitter
          <i class="fa fa-Twitter text-danger">9565945570</i>
        </form>
    </div>
    <div class="col-md-3 header"></div>
</div>
