@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

@model List<EvillageProjectEntity.Models.tbl_msg>

                                            <!-----------------About Section------------------------->
<script src="~/Scripts/jquery-1.7.1.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("/Home/displaymsg", function (data) {
                var tt = "<table class='table table-bordered  table-shadwo:2px 3px 3px 3px black;'><thead><tr><th>Sr.No</th><th>Name</th></tr></thead><tbody>";
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        tt = tt + "<tr><td>" + (i + 1) + "</td><td>" + data[i].Message + "</td></tr>";
                    }
                    tt = tt + "</tbody></table>";
                    $("#tab").html(tt)
                }
                else {

                    $("#tab").text("No Record Found");
                }
            })
        });

                </script>
<div class="row about1">
    <h3>Welcome To Our Village</h3>
</div><br />
<div class="row about">
    <div class="col-md-3 imgabout">
        <img src="../Content/Image/about1.png" height="200" width="250"/>
    </div>
    <div class="col-md-9">
  <p class="text">Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distributor/Retailer where they can do Recharge Mobile, DTh, Data card or bill payments of their customers for all Postpaid/ Prepaid Mobile, DTH, Datacard, and Bill Payment Demontly For All Major Operators
      Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
  </p> 
        </div></div> <br />
    <div class="row">
       <div class="col-md-9">
 <p class="text">Bharat Bill Payment System (BBPS) is an online bill
     Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
     Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Payment System.Bill payment is a facility provided to the customer to make their utility payments online through digital banking. The customer has different utility payments like Electricity Bill payment, Mobile bill payments, Water bill payments, insurance payments, etc.</p>
</div>
        <div class="col-md-3 imgabout">
        <img src="../Content/Image/about2.png" height="200" width="300" />
        </div>
</div>
<div class="row about">
    <div class="col-md-3 imgabout">
        <img src="../Content/Image/about3.png" height="200" width="250"/>
    </div>
    <div class="col-md-9">
  <p class="text">Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distributor/Retailer where they can do Recharge Mobile, DTh, Data card or bill payments of their customers for all Postpaid/ Prepaid Mobile, DTH, Datacard, and Bill Payment Demontly For All Major Operators
      Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr Evillage is a B2B Recharge Portal offers his Distributor/Retailer the facility of Online Recharge, SMS Recharge, and Mobile App (Android).
We have a special Recharge and Bill Payment option for the Distr
  </p> 
        </div></div>

                                            <!---------------------End About Section---------------------->

<!------Start Gallery section----->
<hr />





<div class="row about" style="min-height:100px;">
    <h1 style="box-shadow:0px 2px 1px 3px black; text-align:center; letter-spacing:3px; text-shadow:2px 3px 3px white;" class="bg-success">some pics of my village</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center text-warning">field</h5>
        <p class="card-text text-success">the purpose of such close proximity is protection and also to strengthen social bonds. generally, the village doesn't have its own local laws. 
</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning text-center">Farm</h5>
        <p class="card-text text-success">most villages grow in a location that has, or had, particular advantages to the community. long ago, villages often developed near rivers or other sources of fresh water. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning text-center">road</h5>
        <p class="card-text text-success">in most parts of the world, villages are settlements of people clustered around a central point. </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/about1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning text-center">House</h5>
        <p class="card-text text-success">some geographers define a village as having between 500 and 2,500 inhabitants. some geographers define a village as having between 500 and 2,500 inhabitants.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/about2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning text-center">House</h5>
        <p class="card-text text-success">a village is a small settlement that is usually located in a rural area. it is generally larger than a hamlet but smaller than a town.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="/content/image/about3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-warning text-center">Home</h5>
        <p class="card-text text-success">a village is a clustered human settlement or community, larger than a hamlet but smaller than a town with a population typically ranging from a few hundred</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>

    <br />







      <div class="row row-cols-1 row-cols-md-3 g-4">
  
                    </div>











     </div><br />

<!------------End gallery section---->


<div class="row">
    <div class="col-md-4 bg-light mx-3" style="border:3px solid orangered">
        <div class="row p-3 text-center bg-success text-warning" style="font-size:25px; ">नवीन संदेश</div>
        <div class="row" style="height:300px;">
    <marquee behavior="alaternate" scrollamount="3" direction="up" onmouseover="stop()" onmouseleave="start()" height="300">
            <ul type="none">
                         
                <li><a class="text-warning" href="https://edistrict.up.gov.in/edistrictup/LatestNews.htm">पर्यावरण वन एवं जलवायु परिवर्तन विभाग की 2 सेवाएं समस्त केंद्रों पर ई-डिस्ट्रिक्ट एकीकृत सेवाओं के रूप में उपलब्ध..</a></li>
                <li><a class="text-warning" href="https://edistrict.up.gov.in/edistrictup/GOs/GO_MandiParishad.pdf">GIGW गाइड लाइन्स से समाहित ई-डिस्ट्रिक्ट का नवीन संस्करण जारी..</a></li>
                <li><a class="text-warning" href="https://edistrict.up.gov.in/edistrictup/GOs/Stampregister.pdf">युवा कल्याण एवम् प्रान्तीय रक्षक दल विभाग की 2 सेवाएं समस्त केंद्रों पर ई-डिस्ट्रिक्ट एकीकृत सेवाओं के रूप में उपलब्ध..</a></li>
                <li><a class="text-warning" href="https://esathi.up.gov.in/pmed/ServiceDashboard/SerDash.aspx">कोविड टीकाकरण हेतु ऑनलाइन पंजीकरण ई-डिस्ट्रिक्ट पोर्टल के माध्यम से कॉमन सर्विस सेण्टर द्वारा निःशुल्क किया जा रहा है |</a></li>
                <li><a class="text-warning" href="https://edistrict.up.gov.in/edistrictup/GOs/LoudSpeakerPermission.pdf">मनोरंजन कर विभाग की चार सेवाएं समस्त केंद्रों पर ई-डिस्ट्रिक्ट एकीकृत सेवाओं के रूप में उपलब्ध..</a></li>
                <li><a class="text-warning" href="https://edistrict.up.gov.in/edistrictup/GOs/YouthWelfarePrd.pdf">ई-डिस्ट्रिक्ट पोर्टल- सर्विस डैशबोर्ड</a></li>
                <li><a class="text-warning" href="https://www.digilocker.gov.in/"> मण्डी परिषद की 2 सेवाएं ई-डिस्ट्रिक्ट पर उपलब्ध है..</a></li>

            <li id="tab"><a class="text-warning" href="#"></a></li>
            </ul>

                </marquee>
        </div>
    </div>
    <div class="col-md-4 bg-light mx-3" style="border:3px solid orangered">
        <div class="row p-3 text-center bg-success text-warning">अन्य सेवाऐं</div>
        <div class="row">
            <ul type="none">
                <li><a href="https://edistrict.up.gov.in/edistrict/Directories/GramNirdeshika.aspx" class="text-warning"> तहसील / ग्राम निर्देशिका</a></li>
                <li><a href="https://edistrict.up.gov.in/edistrictup/GO.aspx" class="text-warning">  सेवायोजन विभाग, उत्तर प्रदेश</a></li>
                <li><a href="https://niyuktionline.upsdc.gov.in/" class="text-warning"> उ0प्र0 जनहित गारण्टी अधिनियम की ऑनलाइन सेवाएँ</a></li>
                <li><a href="https://rtionline.up.gov.in/" class="text-warning">उत्तर प्रदेश सूचना आयोग</a></li>
                <li><a href="https://upic.gov.in/StaticPages/rtiportal-hi.aspx" class="text-warning"> ऑनलाइन आर. टी .आई.</a></li>
                <li><a href="https://upcmo.up.nic.in/janhit.htm" class="text-warning"> मण्डल आयुक्त / जिला अधिकारी सूची</a></li>
                <li><a href="https://sewayojan.up.nic.in/" class="text-warning"> ई-डिस्ट्रिक्ट शासनादेश / विभागीय आदेश</a></li>
            </ul>
        </div>
    </div>
     <div class="col-md-3 bg-light mx-3" style="border:3px solid orangered">
        <div class="row p-3 text-center bg-success text-warning">महत्वपूर्ण डाउनलोड</div>
        <div class="row">
            <ul type="none">
                <li><a class="text-warning" href="~/Content/Image/modi.png" download >ई-साथी यू.पी. मोबाइल एप (Ver 3.1)</a></li>
                <li><a class="text-warning" href="~/Content/Image/about3.png" download > कोविड टीकाकरण पंजीकरण के लिए क्लिक करें (केवल जन सेवा केंद्र हेतु)</a></li>
                <li><a class="text-warning" href="~/Content/Image/about2.png" download >ई-साथी एफ. ए. क्यू.(FAQ)</a></li>
                <li><a class="text-warning" href="~/Content/Image/about1.png" download >ई-डिस्ट्रिक्ट एफ. ए. क्यू.(FAQ)</a></li>
                <li><a class="text-warning" href="~/Content/Image/3.jpg" download >स्वप्रमाणित घोषणा पत्र</a></li>
                <li><a class="text-warning" href="~/Content/Image/2.jpeg" download >आवॆदन प्रपत्र</a></li>
                <li><a class="text-warning" href="~/Content/Image/1.jpeg" download > सेवाकेन्द्र फोटो अपलोड मोबाइल एप || निर्देश</a></li>
              
            </ul>
        </div>
    </div>
</div>

<br />
<!----------------------------start vedio section------>

<div class="row ">
    <div class="col-md-6">
    <video src="~/Content/Image/v4.mp4" autoplay loop  muted height="300" width="100%"/>
    </div>
    <div class="col-md-6">
        <video src="~/Content/Image/v1.mp4" autoplay loop muted height="300" width="100%"/>
    </div>
    <br />
</div>
<div class="row">
    <div class="col-md-6">
    <video src="~/Content/Image/v2.mp4" autoplay loop  muted height="300" width="100%"/>
    </div>
    <div class="col-md-6">
        <video src="~/Content/Image/v3.mp4" autoplay loop muted height="300" width="100%"/>
    </div>
    
</div><br />

<!-------------------End Vedio section------------------->
<!-----------------start contact section------------------>
<div class="row about">

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28443.31232826535!2d83.1863323!3d26.98544935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1706209373271!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" height="300"></iframe>
    </div>
    <div class="col-md-6">
         <div class="row bg-warning btn btn-warning form-control">Contact For Any Query!</div>
        <form action="#" method="post" >
       
         Registration Number
        <input type="Number" class="form-control" name="RegNumber"/>
            Mobile Number
        <input type="number" class="form-control" name="Mob"/>
              Address
        <textarea class="form-control" name="Address"></textarea>
            Query
            <textarea class="form-control" name="Address"></textarea>
        <input type="checkbox"  name=""/> Accept<a href="#">Term And Condition</a>
        <button class="form-control btn btn-success">Contact Us</button><br /><br />
        <a href="/Home/Login" class="btn btn-warning form-control">Login First</a><br />
            Contact With Call
          <i class="fa fa-phone text-danger">9565945570</i>
             Contact With Twitter
          <i class="fa fa-Twitter text-danger">9565945570</i>
        </form>
    </div>
    </div>
</div>