@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<script>
    function f1()
    {
        var c = document.getElementById("chk").checked;
        if (c == true)
            document.getElementById("b1").disabled = false;
        else
            document.getElementById("b1").disabled = true;
    }
</script>
<div class="row">
    <div class="col-md-3 header"></div>
    <div class="col-md-6 img ">
        <div class="row bg-warning btn btn-warning form-control">Login Here !</div>
        <form action="/Home/Login" method="post" >
       
        User Id
        <input type="text" class="form-control" name="UserId" />
            Password
        <input type="password" class="form-control" name="Password" />
        <input type="checkbox" id="chk" onchange="f1()"  name=""/> Accept<a href="#">Term And Condition</a>
        <button class="form-control btn btn-success" id="b1" disabled>Login</button><br /><br />
        <a href="/Home/Registration" class="btn btn-warning form-control">Registration</a>
            <a href="#">Forget Password</a>

        </form>
    </div>
    <div class="col-md-3 header"></div>
</div>
