@{
    ViewBag.Title = "Addservice";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form action="/Admin/Addservice" method="post">
        Enter Your Services
        <input type="text" name="Srevice" class="form-control" /><br />
            <button class="btn btn-success">Add Services</button>
    </form>
            </div>
    <div class="col-md-3"></div>
</div>

