@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
<div class="row">
    <div class="col-md-1">

        </div>
    <div class="col-md-11">

        <div class="row">
            <div class="col-md-3 bg-warning mx-4 my-2 text-danger" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-duotone fa-id-card text-light" style="font-size:60px;"></i>Register
            </div>
            <div class="col-md-4 bg-success mx-3 my-2" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-regular fa-address-book text-light" style="font-size:60px;"></i>Contact
            </div>
            <div class="col-md-3 bg-danger mx-4 my-2 text-warning" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-cog fa-spin text-light" style="font-size:60px;"></i>Setting
            </div>
        </div>

          <div class="row">
            <div class="col-md-3 bg-warning mx-4 my-2 text-danger" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-solid fa-comments text-light" style="font-size:60px;"></i>Feedback
            </div>
            <div class="col-md-4 bg-success mx-3 my-2" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-solid fa-address-book text-light" style="font-size:60px;"></i>Enquiry
            </div>
            <div class="col-md-3 bg-danger mx-4 my-2 text-warning" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-cog fa-spin text-light" style="font-size:60px;"></i>Setting
            </div>
        </div>

          <div class="row">
            <div class="col-md-3 bg-warning mx-4 my-2 text-danger" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-duotone fa-id-card text-light" style="font-size:60px;"></i>Register
            </div>
            <div class="col-md-4 bg-success mx-3 my-2" style="min-height:100px; font-size:40px;" >
                <i class="fa fa-regular fa-address-book text-light" style="font-size:60px;"></i>Contact
            </div>
            <div class="col-md-3 bg-danger mx-4 my-2 text-warning" style="min-height:100px; font-size:40px;" >
             <i class=" fa-solid fa-right-from-bracket"></i> LogOut
            </div>
        </div>

    </div>
    </div>